[Desktop Entry]
Name=Installer
Exec=Magyarcs
Icon=/home/liveuser/.icons/magyarch-green-ascii-icon-300-300.svg
Type=Application
Categories=System;Utility;
